layout {
    default_tab_template {
        children
        pane size=1 borderless=true {
            plugin location="file:/Users/mac/.config/zellij/layouts/zjstatus.wasm" {
                format_left   "{mode} #[fg=#6C7086,bold]{session}"
                format_center "{tabs}"
                format_right  "{datetime}"
                format_space  ""

                border_enabled  "false"
                border_char     "─"
                border_format   "#[fg=#6C7086]{char}"
                border_position "top"

                hide_frame_for_single_pane "true"

                mode_normal        "#[bg=#fd9200,fg=#000000] 󱨊  "
                mode_locked        "#[bg=#ff6d67,fg=#000000]   "
                mode_resize        "#[bg=#89B4FA,fg=#000000] {name} "
                mode_pane          "#[bg=#89B4FA,fg=#000000] {name} "
                mode_tab           "#[bg=#A7FE00,fg=#000000]   "
                mode_scroll        "#[bg=#89B4FA,fg=#000000] {name} "
                mode_enter_search  "#[bg=#89B4FA,fg=#000000] {name} "
                mode_search        "#[bg=#89B4FA,fg=#000000] {name} "
                mode_rename_tab    "#[bg=#89B4FA,fg=#000000] 󰏪  "
                mode_rename_pane   "#[bg=#89B4FA,fg=#000000] 󱅄  "
                mode_session       "#[bg=#89B4FA,fg=#000000] {name} "
                mode_move          "#[bg=#89B4FA,fg=#000000] {name} "
                mode_prompt        "#[bg=#89B4FA,fg=#000000] {name} "
                mode_tmux          "#[bg=#ffc387,fg=#000000] {name} "
                mode_default_to_mode "tmux"

                tab_normal   "#[fg=#9399B2] {name} "
                tab_active   "#[fg=#fd9200] {name} "

                command_git_branch_command     "git rev-parse --abbrev-ref HEAD"
                command_git_branch_format      "#[fg=blue] {stdout} "
                command_git_branch_interval    "10"
                command_git_branch_rendermode  "static"

                datetime        "#[fg=#6C7086,bold] {format} "
                datetime_format "%A, %d %b %Y %H:%M"
                datetime_timezone "Asia/Tehran"
            }
        }
    }
}
